<div class="row">
    <div class="col-sm-12">
        <p class="h4">Todo List</p>
    </div>
    
</div>
<div class="bg-white">
<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Todo</th>
        <th>Completed</th>
        <th>User Id</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of todoList$ | async">
     <td>{{todo.id}}</td>
     <td>{{todo.todo}}</td>
     <td>{{todo.completed}}</td>
     <td>{{todo.userId}}</td>
     <td><a [routerLink]="['../edit',todo.id]"><i class='far fa-edit'></i></a></td>
     <td><a [routerLink]="['../delete',todo.id]"><i class='far fa-trash-alt'></i></a></td>
    </tr>
</tbody>
</table>
</div>
